<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Crear Nuevo Pedido</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/tabla.css}">

</head>
<body>
	<div align="center">
		<h1>Nuevo Pedido</h1>
		<br />
		<form action="#" th:action="@{/pedidos/guardar}" th:object="${pedidos}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Hora:</td>
					<td><input type="text" th:field="*{fecha_hora}" /></td>
				</tr>
				
				<tr>
					<td>Usuario:</td>
					<td><input type="text" th:field="*{usuario}" /></td>
				</tr>
				
				<tr>
					<td>Repartidor:</td>
					<td><input type="text" th:field="*{repartidor}" /></td>
				</tr>
				
				
				<tr>
					<td>Direccion:</td>
					<td><textarea  rows = "20" cols = "80" th:field="*{direccion}" ></textarea></td>
				</tr>
				
				
				<tr>
					<td colspan="2"><button type="submit" class=button>Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</html>